include resume-mixins.pug

#main
    #title
        h1 Adrien LE GALL
        .subtitle Full stack web developer

    .main-block
        h2 #[i.fa.fa-suitcase] Experiences

        +item("Developer", "Zero to One Technology", "Caen - France", "Jan 18", null)
            :markdown-it
                - Worked on the front and back end of Comscope, a system which automatically translates audio and video recordings of a one on one interaction into quantitative variables
                - Charged of integrating UI/UX design for modernisation of the Comscope, e.g. recording dashboard
                - Consolidated continuous integration
                - Worked on semantic detection in the Comscope

        +item("Developer", "Apitic", "Lannion - France", "Jun 16", "Jan 18")
            :markdown-it
                - Improved and maintained Apitic's software suite which is comsposed of an online cash register and management solutions for shops
                - Designed qnd implemented new features across back end, web front end including user interfaces and APIs
                - Lightened up technical debt: rewrote and refreshed modules to ease further improvement

        +item("Intern", "Apitic", "Lannion - France", "Apr 16", "Jun 16")
            .description 10-week diploma validation internship

    .main-block
        h2 #[i.fa.fa-folder-open] Selected Projects

        +item("Project manager, responsible of internship", null, null, null, null)
            :markdown-it
                - Conceived and developed an ordering software for specific mall aisles with the collaboration of an intern
                - The project had to be deployed in points of a mall where employees could take customer's orders with offline capabilities and syncronisation

        +item("Project manager", null, null, null, null)
            .description Conceived and developped an internal piece of software to manage Apitic's customers subscriptions, options and billing

        +item("Internship project", null, null, null, null)
            :markdown-it
                - Conceived and developped an internal issues management system for customer service and developer team
                - The software had to answer the needs of the customer service team who needed an easy to navigate interface in order to take client's requests with user rights taken into account
                - Doubled as a software issue management system

    .main-block.concise
        h2 #[i.fa.fa-graduation-cap] Education

        +item("DUT Informatique", "IUT de Lannion (22, Université de Rennes 1)", "France", "2016", null)

        +item("Bac STI2D", "Lycée la Mennais (56)", "France",    "2013", null)

#sidebar
    #contact.side-block
        h1 Contact Info
        ul
            li #[i.fa.fa-envelope] adrien.le.g.ll@gmail.com
            li #[i.fa.fa-phone] +33 6 20 94 86 19

    #skills.side-block
        h1 Skills
        h3 Languages
        ul
            li Python 3
            li PHP
            li Node
            li HTML5
            li CSS3
            li JavaScript ES6
            li TypeScript
        h3 Frameworks
        ul
            li Laravel
            li Symfony
            li AngularJS
            li Angular
            li Vue
        h3 Libraries
        ul
            li Bootstrap
            li Socket.io
            li jQuery
        h3 Tools
        ul
            li Git
            li PHPMyAdmin

style
    include resume.scss
