.sender
  .name Adrien LE GALL
  .address 32 rue Desmoueux,
  .city 14000 Caen, France
  .phone +33 6 20 94 86 19

.recipient
  .name Shamim Motori
  .institute Pinguin AG

.opening Dear Mr Motori,

.main-text
  :markdown-it
    
    Currently, a web developer working for more than three years, I plan to establish myself in Ireland for personal reasons and to evolve in my career.

    The missions proposed in your company are on par with my profile and my aspirations.
    They associate the skills I'm currently using in web development with my wish to get more involved in the collaboration with my colleagues.
    Furthermore, my personal interest and my permanent information monitoring of web technologies constitute supplementary motivations.

    Multiple projects allowed me to master the languages and main frameworks of front end and back end development.
    I contributed to the development of multiple web applications by realising together client aspects and also server APIs.
    My activities also allowed me to work on teamwork aspects.
    From one end with the use of the scrum method, but also with the support of an intern for the making of a project.
    I also often had the opportunity to participate in pair programming sessions.
    Finally, my polyvalent education in computer science diploma of higher education allowed me to learn an assortment of methods and technologies, especially in software design and teamwork, databases and also operating systems.
    It has developed my capacity to adapt fast to new environments as well.

    A perfectionist by nature, I like to provide quality work.
    My curiosity leads me to practice technological information monitoring and to keep me informed of the different fields like web technologies, development processes, and hardware.
    Sociable, I integrate easily into a team and I appreciate a working environment where the exchange is fast and easy.

    Extremely interested in your offer I am at your service to talk about my profile and my motivations and also get to know your company and your expectations in more detail.

.closing Thanks for your consideration,
| Sincerely.

.sender
  .name Adrien LE GALL.

style
  include:scss letter.scss
